.particlesList {
    position: absolute;
    z-index: 10;
    top: 30%;
    max-height: 50%;
    left: -230px;
    display: flex;
    overflow-y: hidden;
    transition: left 0.5s;
    padding-bottom: 10px;
    border: #111 1px solid;
    border-left: none;
    border-radius: 0 10px 10px 0;
}
.isVisible {
    left: 0;
    overflow-y: auto;
}
.listToggle {
    position: sticky;
    top: 0;
    cursor: pointer;
    padding-top: 12px;
    &:hover {
        background: linear-gradient(90deg, transparent, lighten(#aaa, 17%));
    }
}
.list {
    h2 {
        background: #eee;
        position: sticky;
        top: 0;
        padding: 10px 0 5px 20px;
        font-size: 1.3em;
    }
    padding-right: 20px;
    width: 230px;
}
.particle {
    cursor: pointer;
    &:hover {
        background: linear-gradient(270deg, transparent, lighten(#aaa, 17%));
    }
    h3 {
        font-size: 1em;
        margin: 0;
    }
    padding: 5px 0 5px 20px;
    margin-bottom: 10px;
}
