.app {
    height: 100%;
    color: #111;
    background-color: #eee;
    display: flex;
    flex-direction: column;
}
.error {
    color: darkred;
    margin: 10px 20px;
}
.errorInfo {
    color: #aaa;
    margin-top: 20px;
}
