.expressionsInputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    > * {
        margin-bottom: 5px;
        width: 100%;
    }
    p {
        span {
            display: inline;
            font-family: monospace;
        }
    }
    :global .ui.label {
        min-width: 60px;
    }
}

.expression {
    font-family: "Courier", monospace;
    margin-bottom: 3px;
}
.modalContent {
    p {
        margin-bottom: 5px;
    }
    :global .header {
        margin-bottom: 5px;
        margin-top: 10px;
    }
}
